/* Pseudo-class and pseudo-element selector assignment */
/* Students: complete the CSS rules below. Do not change index.html. */

body {

font-family: Arial, Helvetica, sans-serif;
font-size: 87.5%;
margin: 2em; }
a { font-weight: bold; }
a:link { color: green; }
a:hover, a:focus { color: fuchsia; }

main p:first-child { font-weight: bold; }
main p:first-child::first-letter { font-size: 150%; }

